<div data-dojo-type="${baseClass}" data-dojo-attach-point="focusNode">

    <p>{{gettext 'Select the category of users who will see the "Save as" button.
        Please note that this setting does not affect of data availability over API.'}}</p>

    <div data-dojo-type="dijit/form/Select"
        data-dojo-attach-point="wExportVision"
        style="width: 100%; margin-bottom: 1em;">
        <option value="data_read">{{gettext 'Users with "Data: Read" permission'}}</option>
        <option value="data_write">{{gettext 'Users with "Data: Write" permission'}}</option>
        <option value="admin">{{gettext 'Administrators'}}</option>
    </div>

    <button data-dojo-type="dijit/form/Button" 
        data-dojo-attach-point="buttonSave"
        class="dijitButton--primary">{{gettext 'Save'}}</button>
</div>
