<div data-dojo-type="${baseClass}"
    data-dojo-attach-point="focusNode">

    <div data-dojo-type="dijit/layout/BorderContainer"
        data-dojo-props="gutters: false"
        style="width: 50%; height: 200px">

        <div data-dojo-type="dijit/layout/ContentPane"
            data-dojo-props="region: 'center'"
            style="padding: 1em 0;">

                <div data-dojo-type="dojox/layout/TableContainer" data-dojo-props="cols:1, labelWidth: 200">

                    <select data-dojo-type="dijit/form/Select"
                        data-dojo-attach-point="wMeasurementUnits"
                        title="{{gettext 'Measurement units'}}" style="width: 100%">
                        <option value="metric" selected="selected">{{gettext 'Meters/Kilometers'}}</option>
                        <option value="imperial">{{gettext 'Feet/Miles'}}</option>
                    </select>

                    <select data-dojo-type="dijit/form/Select"
                        data-dojo-attach-point="wDegreeFormat"
                        title="{{gettext 'Degree format'}}" style="width: 100%">
                        <option value="dd" selected="selected">{{gettext 'Decimal degrees'}}</option>
                        <option value="ddm">{{gettext 'Degrees, decimal minutes'}}</option>
                        <option value="dms">{{gettext 'Degrees, minutes, seconds'}}</option>
                    </select>

                    <select data-dojo-type="dijit/form/Select"
                        data-dojo-attach-point="wMeasurementSRID"
                        title="{{gettext 'Measurement SRID'}}" style="width: 100%">
                    </select>

                </div>
        </div>

        <div data-dojo-type="dijit/layout/ContentPane"
            data-dojo-props="region: 'bottom'"
            style="padding: 1em 0;">
            <button data-dojo-type="dijit/form/Button" 
                data-dojo-attach-point="buttonSave"
                class="dijitButton--primary">{{gettext 'Save'}}</button>
        </div>

    </div> 

</div>
