<div data-dojo-type="${baseClass}" data-dojo-attach-point="focusNode" style="padding: 1ex;">
    <div data-dojo-type="dojox/layout/TableContainer" data-dojo-props="cols:1, labelWidth: 150">
        
        <div data-dojo-attach-point="wSrs"
            data-dojo-type="ngw-spatial-ref-sys/SpatialRefSysSelect"
            title="{{gettext 'Spatial reference system'}}" style="width: 100%"></div>

        <div data-dojo-attach-point="wSourceFile"
            data-dojo-type="ngw-file-upload/Uploader"
            title="{{gettext 'Source file'}}"></div>

        <select data-dojo-attach-point="wSourceEncoding"
            data-dojo-type="dijit/form/Select"
            title="{{gettext 'Encoding'}}" style="width: 100%">

            <option value="utf-8">{{gettext 'UTF-8'}}</option>
            <option value="windows-1251">{{gettext 'Windows-1251'}}</option>

        </select>

    </div>
</div>
