<div data-dojo-type="${baseClass}" data-dojo-attach-point="focusNode" class="padding-block">

    <!-- Do not let users pick SRS. By now only one SRS (EPSG:3857) is supported.
    <div data-dojo-attach-point="wSrs"
        data-dojo-type="ngw-spatial-ref-sys/SRSSelect"
        title="{{gettext 'Spatial reference system'}}" style="width: 100%"></div>
    -->

    <div data-dojo-attach-point="mode_section"
         data-dojo-type="dojox/layout/TableContainer" data-dojo-props="cols:1, labelWidth: 150"
         style="margin-bottom: 1em;">
        <select data-dojo-attach-point="modeSwitcher"
            data-dojo-type="dijit/form/Select"
            title="{{gettext 'Mode'}}" style="width: 100%">

            <option value="file" selected="selected">{{gettext 'From file'}}</option>
            <option value="empty">{{gettext 'Empty layer'}}</option>
        </select>
    </div>

    <div data-dojo-attach-point="empty_layer_section" style="display: none;">
         <div data-dojo-type="dojox/layout/TableContainer" data-dojo-props="cols:1, labelWidth: 150">
            <select data-dojo-attach-point="wGeometryType"
                data-dojo-type="dijit/form/Select"
                data-ngw-serialize="geometry_type"
                title="{{gettext 'Geometry type'}}" style="width: 100%">

                <option value="POINT">{{gettext 'Point'}}</option>
                <option value="LINESTRING">{{gettext 'Line'}}</option>
                <option value="POLYGON">{{gettext 'Polygon'}}</option>
                <option value="MULTIPOINT">{{gettext 'Multipoint'}}</option>
                <option value="MULTILINESTRING">{{gettext 'Multiline'}}</option>
                <option value="MULTIPOLYGON">{{gettext 'Multipolygon'}}</option>
                <option value="POINTZ">{{gettext 'PointZ'}}</option>
                <option value="LINESTRINGZ">{{gettext 'LineZ'}}</option>
                <option value="POLYGONZ">{{gettext 'PolygonZ'}}</option>
                <option value="MULTIPOINTZ">{{gettext 'MultipointZ'}}</option>
                <option value="MULTILINESTRINGZ">{{gettext 'MultilineZ'}}</option>
                <option value="MULTIPOLYGONZ">{{gettext 'MultipolygonZ'}}</option>
            </select>
        </div>
    </div>

    <div data-dojo-attach-point="file_section">
        <div data-dojo-attach-point="wSourceFile"
                data-dojo-type="ngw-file-upload/Uploader" data-dojo-attach-point="wFile" 
                data-dojo-props="uploaderLinkText: '{{gettext 'Select a dataset'}}',
                                uploaderHelpText: '{{gettext 'Dataset should be in ESRI Shapefile (zip) or GeoJSON format.'}}'
        "></div>
        <div data-dojo-type="dojox/layout/TableContainer" data-dojo-props="cols:1, labelWidth: 150">

            <select data-dojo-attach-point="wEncoding"
                data-dojo-type="dijit/form/Select"
                title="{{gettext 'Encoding'}}" style="width: 100%">

                <option value="utf-8">{{gettext 'UTF-8'}}</option>
                <option value="windows-1251">{{gettext 'Windows-1251'}}</option>

            </select>

            <select data-dojo-attach-point="wFixErrors"
                data-dojo-type="dijit/form/Select"
                title="{{gettext 'Fix errors'}}" style="width: 100%">

                <option value="NONE" selected="selected">{{gettext 'None'}}</option>
                <option value="SAFE">{{gettext 'Fix errors without losing data'}}</option>
                <option value="LOSSY">{{gettext 'Fix errors as far as possible'}}</option>
            </select>

            <input data-dojo-attach-point="wSkipErrors"
                data-dojo-type="dijit/form/CheckBox"
                data-dojo-props="value: true"
                title="{{gettext 'Skip features with unfixable errors'}}">

            <select data-dojo-attach-point="wCastGeometryType"
                data-dojo-type="dijit/form/Select"
                title="{{gettext 'Geometry type'}}" style="width: 100%">

                <option value="AUTO" selected="selected">{{gettext 'Auto'}}</option>
                <option value="POINT">{{gettext 'Point'}}</option>
                <option value="LINESTRING">{{gettext 'Line'}}</option>
                <option value="POLYGON">{{gettext 'Polygon'}}</option>
            </select>

            <select data-dojo-attach-point="wCastIsMulti"
                data-dojo-type="dijit/form/Select"
                title="{{gettext 'Multi-geometry'}}" style="width: 100%">

                <option value="AUTO" selected="selected">{{gettext 'Auto'}}</option>
                <option value="YES">{{gettext 'Yes'}}</option>
                <option value="NO">{{gettext 'No'}}</option>
            </select>

            <select data-dojo-attach-point="wCastHasZ"
                data-dojo-type="dijit/form/Select"
                title="{{gettext 'Z-coordinate'}}" style="width: 100%">

                <option value="AUTO" selected="selected">{{gettext 'Auto'}}</option>
                <option value="YES">{{gettext 'Yes'}}</option>
                <option value="NO">{{gettext 'No'}}</option>
            </select>

            <select data-dojo-attach-point="wFIDSource"
                data-dojo-type="dijit/form/Select"
                title="{{gettext 'FID source'}}" style="width: 100%">

                <option value="AUTO" selected="selected">{{gettext 'Auto'}}</option>
                <option value="GDAL">{{gettext 'GDAL'}}</option>
                <option value="FIELD">{{gettext 'Field'}}</option>
            </select>

            <input data-dojo-attach-point="wFIDField"
                data-dojo-type="dijit/form/TextBox"
                title="{{gettext 'FID field'}}"
                value="ngw_id"/ style="width: 100%">

        </div>
    </div>
</div>
