<div data-dojo-type="${baseClass}" data-dojo-attach-point="focusNode" style="max-width: 50em;">

    <p>{{gettext 'Select the category of users who can use the "Save as" link and download resource data.'}}</p>

    <div data-dojo-type="dijit/form/Select"
        data-dojo-attach-point="wExportVision"
        style="width: 100%">
        <option value="data_read">{{gettext 'Users with "Data: Read" permission'}}</option>
        <option value="data_write">{{gettext 'Users with "Data: Write" permission'}}</option>
        <option value="administrators">{{gettext 'Administrators'}}</option>
    </div>

    <p>{{gettext "Please note that this option doesn't protect data from being copied in different ways. Users will be able to use REST API according to their permissions regardless of this option."}}</p>

    <button data-dojo-type="dijit/form/Button" 
        data-dojo-attach-point="buttonSave"
        class="dijitButton--primary">{{gettext 'Save'}}</button>
</div>
