<div data-dojo-type="${baseClass}"
    data-dojo-attach-point="focusNode"
    style="width: 100%; height: 100%">

    <div data-dojo-attach-point="tabContainer"
        data-dojo-type="dijit/layout/TabContainer"
        data-dojo-props="tabPosition: 'top'"
        style="width: 100%; height: 100%;">

        <!-- Незакрываемый таб для размещения карты и дерева слоев -->
        <!-- Если у таба нет иконки и он незакрываем, то плывет верстка! -->
        <div data-dojo-attach-point="mainPane" title="Карта"
            data-dojo-type="dijit/layout/ContentPane"
            data-dojo-props="closable: false, iconClass: 'iconMap'"
            style="width: 100%; height: 100%; padding: 0">

            <div data-dojo-type="dijit/layout/BorderContainer"
                data-dojo-props="gutters: false"
                style="width: 100%; height: 100%;">

                <!-- Панель для размещения OL карты -->
                <div data-dojo-type="dijit/layout/BorderContainer"
                    data-dojo-props="region: 'center'"
                    style="padding-left: 0;">

                    <!-- Тулбар над картой -->
                    <div data-dojo-attach-point="mapToolbar"
                        data-dojo-type="dijit/Toolbar"
                        data-dojo-props="region: 'top'">

                        <div style="padding: 0 4px; float: right;">

                            <div data-dojo-attach-point="bookmarkButton"
                                data-dojo-type="dijit/form/DropDownButton"
                                data-dojo-props="label: '{{gettext 'Bookmarks'}}', iconClass: 'dijitIconBookmark'">

                                <div data-dojo-attach-point="bookmarkMenu"
                                    data-dojo-type="dijit/Menu">
                                </div>

                            </div>
                        </div>

                        <!-- Распорка по высоте -->
                        <div data-dojo-type="dijit/form/Button" style="width: 0;">&nbsp;</div>

                        <div data-dojo-attach-point="zoomToInitialExtentButton"
                            data-dojo-type="dijit/form/Button"
                            data-dojo-props="iconClass: 'iconArrowInOut', label: '{{gettext 'Initial extent'}}', showLabel: false">
                        </div>

                        <div data-dojo-attach-point="showPermalink"
                            data-dojo-type="dijit/form/Button"
                            data-dojo-props="iconClass: 'iconLink', label: '{{gettext 'Permalink'}}', showLabel: false">
                        </div>

                        <div data-dojo-type="dijit/ToolbarSeparator"></div>

                        <div data-dojo-attach-point="infoNode"
                            style="display: inline-block; vertical-align: middle; float: right; padding: 0 4px;">

                            <div data-dojo-type="dijit/form/Button" style="width: 0;">&nbsp;</div>

                            <span style="color: #999">{{gettext 'Longitude'}}</span>
                            <span data-dojo-attach-point="centerLonNode"></span>

                            <span style="color: #999">{{gettext 'Latitude'}}</span>
                            <span data-dojo-attach-point="centerLatNode"></span>

                            <span style="color: #999">{{gettext 'Scale'}}</span>
                            <span data-dojo-attach-point="scaleInfoNode"></span>

                        </div>


                    </div>

                    <div data-dojo-attach-point="mapPane"
                        data-dojo-type="dijit/layout/ContentPane"
                        data-dojo-props="region: 'center'"
                        style="width: 100%; padding: 0;">

                        <div data-dojo-attach-point="mapNode"
                            style="position: absolute: width: 100%; height: 100%; padding: 0;">

                            <div style="position: absolute; top: 0; right: 0; z-index: 2000; margin: 4px; background-color: rgba(255, 255, 255, 0.5)">
                                <a href="http://nextgis.com" target="_blank"><img alt="{{gettext 'Get your own Web GIS at nextgis.com'}}" class="map-logo" src="${assetUrl}img/nextgis.png"/></a>
                            </div>
                        </div>

                    </div>

                </div>

                <div data-dojo-type="dijit/layout/BorderContainer"
                    data-dojo-props="region: 'left', splitter: true, gutters: false"
                    style="width: 250px; padding: 0;">

                    <div data-dojo-type="dijit/layout/BorderContainer"
                        data-dojo-props="region: 'center'"
                        style="padding-bottom: 0; padding-right: 0">

                        <!-- Тулбар над деревом слоев -->
                        <div data-dojo-type="dijit/Toolbar"
                            data-dojo-props="region: 'top'">

                            <div data-dojo-type="dijit/form/DropDownButton"
                                data-dojo-props="label: '{{gettext 'Layer'}}'">

                                <div data-dojo-attach-point="itemMenu"
                                    data-dojo-type="dijit/Menu">
                                </div>

                            </div>

                        </div>

                        <!-- Панель для размещения дерева слоев -->
                        <div data-dojo-attach-point="layerTreePane"
                            data-dojo-type="dijit/layout/ContentPane"
                            data-dojo-props="region: 'center'"
                            style="padding: 0">
                        </div>

                    </div>

                    <!-- Панель для размещения переключателя подложки -->
                    <div data-dojo-attach-point="basemapPane"
                        data-dojo-type="dijit/layout/ContentPane"
                        data-dojo-props="region: 'bottom', border: false"
                        style="padding-left: 5px; padding-right: 2px;">

                        <select data-dojo-attach-point="basemapSelect"
                            data-dojo-type="dijit/form/Select"
                            style="width: 100%;">
                        </select>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
