<div data-dojo-type="${baseClass}" data-dojo-attach-point="focusNode"
    data-ngw-serialize-prefix="${serializePrefix}"
    class="padding-block">

    <div data-dojo-type="dojox/layout/TableContainer" data-dojo-props="cols: 2, labelWidth: 150">

        <div data-dojo-attach-point="wExtentLeft"
            data-dojo-type="dijit/form/NumberTextBox"
            data-dojo-props="constraints: {min: -180, max: +180}, trim: true"
            title="{{gettext 'Left, deg.'}}"
            style="width: 100%"></div>

        <div data-dojo-attach-point="wExtentBottom"
            data-dojo-type="dijit/form/NumberTextBox"
            data-dojo-props="constraints: {min: -90, max: +90}, trim: true"
            title="{{gettext 'Bottom, deg.'}}"
            style="width: 100%"></div>

        <div data-dojo-attach-point="wExtentRight"
            data-dojo-type="dijit/form/NumberTextBox"
            data-dojo-props="constraints: {min: -180, max: +180}, trim: true"
            title="{{gettext 'Right, deg.'}}"
            style="width: 100%"></div>

        <div data-dojo-attach-point="wExtentTop"
            data-dojo-type="dijit/form/NumberTextBox"
            data-dojo-props="constraints: {min: -90, max: +90}, trim: true"
            title="{{gettext 'Top, deg.'}}"
            style="width: 100%"></div>


            <div data-dojo-type="dijit/form/Button"
                data-dojo-attach-point="btnSetExtentFromLayer"
                data-dojo-props="iconClass: 'dijitIconNewTask', showLabel: false">
                {{gettext 'Set extent from layer'}}

                <div data-dojo-type="ngw-resource/ResourcePicker"
                    data-dojo-attach-point="layerPicker"
                    data-dojo-props="interface: 'IBboxLayer'">
                </div>

            </div>

        <div data-dojo-type="ngw-resource/ResourceBox"
            data-dojo-props="interface: 'IFeatureLayer', colspan: 2"
            data-ngw-serialize="bookmark_resource"
            title="{{gettext 'Bookmark resource'}}"
            style="width: 100%">
        </div>

    </div>
</div>
