<div>
    <div class="dijitDialogPaneContentArea">
        <div data-dojo-type="dojox/layout/TableContainer"
             data-dojo-attach-point="tableContainer"
             data-dojo-props="cols:1">
            <select id="sizesSelect"
                    data-dojo-type="dijit.form.Select"
                    data-dojo-attach-point="sizesSelect"
                    title="Формат" name="sizes"
                    style="width: 180px;">
                <option value="none" disabled="disabled" selected>{{gettext 'Select format'}}</option>
                <option value="210_297">{{gettext 'A4 - Portrait'}}</option>
                <option value="297_210">{{gettext 'A4 - Landscape'}}</option>
                <option value="297_420">{{gettext 'A3 - Portrait'}}</option>
                <option value="420_297">{{gettext 'A3 - Landscape'}}</option>
            </select>

            <input id="heightInput"
                   data-dojo-type="dijit/form/NumberTextBox"
                   data-dojo-attach-point="heightInput"
                   title="{{gettext 'Height, mm'}}"
                   type="number"
                   required="true"
                   disabled="disabled"
                   value="297"
                   data-dojo-props="constraints:{min:0,max:20000,places:0}"/>

            <input id="widthInput"
                   data-dojo-type="dijit/form/NumberTextBox"
                   data-dojo-attach-point="widthInput"
                   title="{{gettext 'Width, mm'}}"
                   type="number"
                   required="true"
                   disabled="disabled"
                   value="210"
                   data-dojo-props="constraints:{min:0,max:20000,places:0}"/>

            <input id="marginInput"
                   data-dojo-type="dijit/form/NumberTextBox"
                   data-dojo-attach-point="marginInput"
                   title="{{gettext 'Margin, mm'}}"
                   type="number"
                   required="true"
                   disabled="disabled"
                   value="10"
                   data-dojo-props="constraints:{min:0,max:20000,places:0}"/>
        </div>
        <br/>
        <button data-dojo-type="dijit/form/Button"
                data-dojo-attach-point="okButton"
                style="margin-left: 10px;">
            {{gettext 'Print'}}
        </button>
        <button data-dojo-type="dijit/form/Button"
                data-dojo-attach-point="cancelButton"
                style="margin-left: 10px;">
            {{gettext 'Cancel'}}
        </button>
    </div>
</div>