<div data-dojo-type="${baseClass}" data-dojo-attach-point="focusNode"
    data-ngw-serialize-prefix="${serializePrefix}"  class="padding-block">

    <div data-dojo-type="dojox/layout/TableContainer" data-dojo-props="cols: 1">

        <div data-dojo-type="dijit/form/Select"
            data-dojo-attach-point="wCapmode"
            data-ngw-serialize="capmode"
            title="{{gettext 'Capmode'}}" style="width: 20em">

            <option value="">{{gettext 'Custom'}}</option>
            <option value="nextgis_geoservices">{{gettext 'NextGIS geoservices'}}</option>
        </div>

        <div data-dojo-type="dijit/form/ValidationTextBox"
            data-dojo-attach-point="wURLTemplate"
            data-dojo-props="required: true"
            data-ngw-serialize="url_template"
            placeholder="https://map.example.com/tiles/{layer}/{z}/{x}/{y}.png | https://service.com/quadtiles/{q}.jpeg"
            title="{{gettext 'URL template'}}" style="width: 100%"></div>

        <div data-dojo-type="dijit/form/ValidationTextBox"
            data-dojo-props="required: false"
            data-dojo-attach-point="wAPIKey"
            data-ngw-serialize="apikey"
            title="{{gettext 'API key'}}" style="width: 20em"></div>

        <div data-dojo-type="dijit/form/ValidationTextBox"
            data-dojo-props="required: false"
            data-dojo-attach-point="wAPIKeyParam"
            data-ngw-serialize="apikey_param"
            title="{{gettext 'API key param'}}" style="width: 20em"></div>

        <div data-dojo-type="dijit/form/ValidationTextBox"
            data-dojo-props="required: false"
            data-dojo-attach-point="wUsername"
            data-ngw-serialize="username"
            title="{{gettext 'Username'}}" style="width: 20em"></div>

        <div data-dojo-type="dijit/form/ValidationTextBox"
            data-dojo-props="required: false, type: 'password'"
            data-dojo-attach-point="wPassword"
            data-ngw-serialize="password"
            title="{{gettext 'Password'}}" style="width: 20em"></div>

        <div data-dojo-type="dijit/form/Select"
            data-dojo-attach-point="wScheme"
            data-ngw-serialize="scheme"
            title="{{gettext 'Scheme'}}" style="width: 20em"></div>

        <div data-dojo-type="dijit/form/CheckBox"
            data-dojo-props="required: true, value: true"
            data-dojo-attach-point="wSkipVerify"
            data-ngw-serialize="insecure"
            title="{{gettext 'Skip SSL/TLS certificate verification'}}"></div>

    </div>
</div>
