<div data-dojo-type="${baseClass}" data-dojo-attach-point="focusNode"
    data-ngw-serialize-prefix="${prefix}" class="padding-block">

    <div data-dojo-type="dojox/layout/TableContainer" data-dojo-props="cols:1">

        <div data-dojo-type="dijit/form/ValidationTextBox"
            data-dojo-props="required: true"
            data-ngw-serialize="hostname"
            title="{{gettext 'Host'}}" style="width: 100%"></div>

        <div data-dojo-type="dijit/form/ValidationTextBox"
            data-dojo-props="required: false, regExp:'\\d+'"
            data-ngw-serialize="port"
            title="{{gettext 'Port'}}" style="width: 100%"></div>

        <div data-dojo-type="dijit/form/ValidationTextBox"
            data-dojo-props="required: true"
            data-ngw-serialize="database"
            title="{{gettext 'Database'}}" style="width: 100%"></div>

        <div data-dojo-type="dijit/form/ValidationTextBox"
            data-dojo-props="required: true"
            data-ngw-serialize="username"
            title="{{gettext 'User'}}" style="width: 100%"></div>

        <div data-dojo-type="dijit/form/ValidationTextBox"
            data-dojo-props="required: true, type: 'password'"
            data-ngw-serialize="password"
            title="{{gettext 'Password'}}" style="width: 100%"></div>

    </div>
</div>
