<div data-dojo-type="${baseClass}" data-dojo-attach-point="focusNode"
    data-ngw-serialize-prefix="${prefix}">

    <div data-dojo-type="dojox/layout/TableContainer" data-dojo-props="cols:2, labelWidth: 150">

        <div data-dojo-type="ngw-resource/ResourceBox"
            data-dojo-props="cls: 'postgis_connection', colspan: 2"
            data-ngw-serialize="connection"
            title="{{gettext 'Connection'}}" style="width: 100%"></div>

        <div data-dojo-type="dijit/form/ValidationTextBox"
            data-dojo-props="required: true"
            data-ngw-serialize="table"
            title="{{gettext 'Table'}}" style="width: 100%"></div>

        <div data-dojo-type="dijit/form/ValidationTextBox"            
            data-dojo-props="required: true, value: 'public'"
            data-ngw-serialize="schema"
            title="{{gettext 'Schema'}}" style="width: 100%"></div>

        <div data-dojo-type="dijit/form/ValidationTextBox"
            data-dojo-props="required: true"
            data-ngw-serialize="column_id"
            title="{{gettext 'ID column'}}" style="width: 100%"></div>
        
        <div data-dojo-type="dijit/form/ValidationTextBox"
            data-dojo-props="required: true"
            data-ngw-serialize="column_geom"
            title="{{gettext 'Geometry column'}}" style="width: 100%"></div>
        
        <select data-dojo-attach-point="geometryType" 
            data-dojo-type="dijit/form/Select"
            data-dojo-props="colspan: 2"
            data-ngw-serialize="geometry_type"
            title="{{gettext 'Geometry type'}}" style="width: 100%">
            
            <option value="">{{gettext 'Autodetect'}}</option>
            <option value="POINT">{{gettext 'Point'}}</option>
            <option value="LINESTRING">{{gettext 'Line'}}</option>
            <option value="POLYGON">{{gettext 'Polygon'}}</option>

        </select>
        
        <div data-dojo-attach-point="srs"
            data-dojo-type="ngw/form/SpatialRefSysSelect"
            data-dojo-props="colspan: 2"
            title="{{gettext 'Coordinate system'}}" style="width: 100%"></div>

        <select data-dojo-attach-point="fields"
            data-dojo-type="dijit/form/Select"
            data-dojo-props="colspan: 2"
            data-ngw-serialize="fields"
            title="{{gettext 'Attribute definitions'}}"
            style="width: 100%">

            <option value="keep">{{gettext 'Keep'}}</option>
            <option value="update">{{gettext 'Reload'}}</option>

        </div>

    </div>

</div>